.header {
  background-color: #1f1d2b;
  max-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 40px;

  &__logoWrapper {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f1d2b;
    margin-bottom: 30px;
  }
  &__logoInner {
    width: 56px;
    height: 56px;
    background-color: #8b5d45;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nav {
  &__list {
    background-color: #1f1d2b;
  }
  &__item {
    height: 80px;
    width: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;

    &_active {
      background-color: #252836;
      float: right;
      border-radius: 12px 0px 0px 12px;
      .nav__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
        height: 56px;
        background-color: #ea7c69;
        border-radius: 8px;
        svg {
          path {
            fill: #fff;
          }
        }
      }
    }
  }
}
