html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.App {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.listReset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
